<!DOCTYPE html>

<html>

<head>

<title> D <3 AI Voice Assistant </title>

<link rel="stylesheet" href="/static/style.css">

</head>


<body>


<div class="layout">


<!-- SIDEBAR -->

<div class="sidebar">


<h2>
D <3 🤖
</h2>


<button onclick="newChat()">

+ New Chat

</button>



<h3>
Chat History
</h3>



<div id="history">

</div>



</div>





<!-- MAIN CHAT -->

<div class="main">



<div class="header">

<h1>
D <3 AI 
</h1>

<p>
AI Voice and Chat Assistant
</p>

</div>




<div id="chat-box">


<div class="ai-message">

Hello 👋
<br>
How can I help you today?

</div>


</div>





<div class="input-area">


<input 
id="message"
type="text"
placeholder="Type your message..."
>


<button id="send-btn" onclick="sendMessage()">
    ➤
</button>

<button id="voice-btn" onclick="startListening()">
    🎤
</button>



</div>



</div>


</div>




<script src="/static/script.js"></script>


</body>


</html>